.toggler {
    transition: all 0.3s ease-in-out;
    padding: 5px;
    margin: 5px;
    max-height: 30vh;
    overflow-y: auto;
}

.toggler h1 {
    cursor: pointer;
}

.toggler .false {
    display: none;
    transition: all 0.3s ease-in-out;
}

.toggler .true {
    display: unset;
    transition: all 0.3s ease-in-out;
}


.toggler .togglheader {
    display: grid;
    place-items: center;
    cursor: pointer;
}

.toggler .togglheader svg {
    fill: white;
}