.main {
    padding: 20px;
    padding-left: 10%;
    min-height: 600px;
}

.home {
    margin: 0% 10%;
    margin-left: 0;
    font-size: 1.3rem;
    height: calc(100vh - 100px);
    min-height: 300px;
    display: grid;
    place-content: center;
}